@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
	position: relative;
	height: 100vh;
}

.container {
	max-width: 1440px;
	padding: 0 15px;
	margin: 0 auto;
}

.body {
	display: flex;
	justify-content: center;
	gap: 10rem;
	padding: 5rem 0;
}

@media (max-width: 1000px) {
	.body {
		flex-direction: column;
		gap: 0;
		align-items: center;
	} 
	
}

@media (max-width: 576px) {
	.body {
		padding-top: 1rem;
	} 
}